---
---
@charset "utf-8";


// Our variables
$base-font-family: 'Bree Serif', serif;

$small-font-size:  15px;
$base-font-size:   17px;
$small-font-large: 20px;
$small-font-big:   32px;

$base-line-height: 1.5;
$spacing-unit:     30px;

$background-color: #f4f5f9;
$white:            #fff;
$grey1:            #999;
$grey2:            #666;
$text-color:       #333;
$brand-color:      #1d5f8f;
$link-color:       #3598dd;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
	"responsive"
;
