---
---
@charset "utf-8";


// Our variables
$base-font-family: 'Bree Serif', serif;

$font-small:  15px;
$base-font-size:   17px;
$font-large: 20px;
$font-big:   28px;

$base-line-height: 1.5;
$spacing-unit:     30px;

$background-color: #f4f5f9;
$white:            #fff;
$light-grey:       #e3e3e3;
$grey1:            #999;
$grey2:            #666;
$text-color:       #333;
$brand-color:      #1d5f8f;
$brand-red:        #9f2f3f;
$link-color:       #3598dd;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
	"responsive"
;
