<header class="default">
  <div class="wrapper">

    <img src="/images/logo.png" class="logo">

    <ul class="main-nav">
      <li>
        <a href="#" id="support-trigger">Integration Support</a>   
        <div id="support-entry">
          <p>Para mais informações sobre integrações ERP, mande um e-mail para:</p>
          <a class="email" href="mailto:marcelobatah@uol.com.br">
            marcelobatah@uol.com.br
          </a>
        </div>
      </li>
      <li>
        <a href="#" id="contact-trigger">Contact</a>     
        <div id="contact-entry">
          <p><strong>Skype:</strong> marcelo.batah</p>
          <p><strong>Phone:</strong> +55 11 992786290</p>
          <a class="email" href="mailto:marcelobatah@uol.com.br">
            marcelobatah@uol.com.br
          </a>
        </div>
      </li>
    </ul>

    <div id="menu-trigger">☰</div>

  </div>
</header>

