// Header

#menu-trigger {
  display: none;
}

header.default {
  width: 100%;
  height: 70px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 400;
  
  .logo {
    width: 160px;
    margin-top: 11px;
    float: left;
  }

  .main-nav {
    margin-top: 20px;
  }
}

.main-nav {
  float: right;

  li {
    display: inline-block;
    font-size: $small-font-size;
    margin-left: 20px;

    a {
      color: $grey1;
    } // a\
  }
}


// Home

.home {
  margin-top: 130px;
}

.headlines {
  text-align: center;
  
  h1 {
    display: inline-block;
    background: $brand-color;
    font-size: $small-font-big;
    padding: 0 15px;
    height: 46px;
    line-height: 43px;
    color: $white;
  }
  
  h2 {
    font-size: $small-font-large;
    font-weight: normal;
    margin-top: 10px;
  }
}

// Footer

footer {
  font-size: $small-font-size;
  text-align: center;
  color: $grey1;
  margin-top: $spacing-unit;
  
  strong {
    font-weight: normal;
    color: $grey2;
  }
}
