//responsive


@media (max-width: 960px) {
  
  .wrapper {
    width: 700px;
  }
  
  .logo {
    width: 140px !important;
    margin-top: 17px !important;
  }

  .left,
  .right {
    float: none;
    width: 100%;
  }

  
  // Footer

  footer {
    height: auto;
    padding: 20px 0;

    .main-nav {
      margin-top: 10px;
      float: none;
    }
  }

}


@media only screen and (max-width: 800px) {
  
  .wrapper {
    width: 90%;
    padding: 0 5%;
  }

  header.default {
    height: auto !important;
    padding-bottom: 10px;
    opacity: 1;
    
    .logo {
      width: 120px !important;
      margin-top: 7px !important;
    }
  }
  
  #menu-trigger {
    font-size: 30px;
    font-weight: bold;
    display: block;
    position: absolute;
    right: 5%;
    top: -2px;
    cursor: pointer;
  }
  
  header.default .main-nav {
    width: 100%;
    display: none;
    margin-top: 10px;

    li {
      display: block;
      margin-bottom: 1px;

      &:after {
        display: none;
      }

      &:last-child:after {
        display: none;
      }

      a {
        display: block;
        height: 36px;
        line-height: 36px;
        background: blue;
        text-transform: uppercase;
        color: #fff !important;
        padding: 0 8px;
        font-weight: bold;
      } // a
    }
  }
  
  .left,
  .right {
    float: none;
    width: 100%;
  }
  
}
