<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {{ content }}
    {% include footer.html %}

    <script type="text/javascript">

      $("#menu-trigger").click(function() {
        $('.main-nav').toggle();
      });
      
      $("#support-trigger").click(function() {
        $('#support-entry').toggle();
        $('#contact-entry').hide();
      });

      $("#contact-trigger").click(function() {
        $('#contact-entry').toggle();
        $('#support-entry').hide();
      });
      
      $('#contact-entry, #support-entry').mouseleave(function() {
        $('#support-entry').hide();
        $('#contact-entry').hide();
      });

    </script>

  </body>

</html>
